<%= form_for @event, :url => club_path(@event), :method => :patch do |f| %>
	
	<%= render :partial => 'form', :locals => { :f => f } %>

    <%= f.submit "Update", :class => "btn btn-primary" %>
    
<% end %>

<% if @event.errors.any? %>
    <ul>
        <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>